@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
   }
   @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
   }

  
   .modal{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
   }
    
   .button input{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
   }
    
   body{
   font-family: 'Vazir', Arial, sans-serif;
   font-weight:normal;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    direction: rtl;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: hsl(324, 70%, 45%);
    animation: myStyle 10s infinite;
    background-color: currentColor;
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }

  @keyframes myStyle{
    from, to { color: hsl(324, 70%, 45%); }
    10%      { color: hsl(360, 65%, 45%); }
    20%      { color: hsl( 36, 80%, 45%); }
    30%      { color: hsl( 72, 75%, 35%); }
    40%      { color: hsl(108, 65%, 35%); }
    50%      { color: hsl(144, 75%, 35%); }
    60%      { color: hsl(180, 75%, 35%); }
    70%      { color: hsl(216, 60%, 45%); }
    80%      { color: hsl(252, 65%, 50%); }
    90%      { color: hsl(288, 60%, 40%); }
  }

  .text {
    color: hsl(324, 70%, 45%);
    animation: wheelHueColor 100s infinite;
}
  
  .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .container .title::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 78px;
    border-radius: 5px;
    background :linear-gradient(135deg, #9b59b6, #4f7cca);
  }
  
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-right: 5px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
  
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    right: 0px;
   }
  
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
  
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
  
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
  
   form input[type="radio"]{
     display: none;
   }
  
   form .button{
     height: 45px;
     margin: 35px 0
   }
  
   form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: rgb(0, 0, 0);
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     background:linear-gradient(135deg, #9b59b6, #4f7cca);
   }

   form .button input:hover{
    background:linear-gradient(135deg,#4f7cca, #9b59b6);;
    }
  
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }

  .modal {
    background-color: #2691d9;
    color: #000000;
    padding: 30px;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    transition: all 1s linear;

  }

  .modal {
    background-color: #2691d9;
    color: #000000;
    padding: 30px;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    right: 10px;
    top: 10px;
    transition: all 1s linear;

}


