@font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/Vazir.eot');
    src: url('fonts/Vazir.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir.woff2') format('woff2'), 
    url('fonts/Vazir.woff') format('woff'), 
    url('fonts/Vazir.ttf') format('truetype');
   }
   @font-face {
    font-family: Vazir;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/Vazir-Bold.eot');
    src: url('fonts/Vazir-Bold.eot?#iefix') format('embedded-opentype'), 
    url('fonts/Vazir-Bold.woff2') format('woff2'), 
    url('fonts/Vazir-Bold.woff') format('woff'), 
    url('fonts/Vazir-Bold.ttf') format('truetype');
   }
    
   button{
    font-family: 'Vazir', Arial, sans-serif;
    font-weight:normal;
   }
    
   body{
   font-family: 'Vazir', Arial, sans-serif;
   font-weight:normal;

}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, #2980b9, #43f4e2ad, #2980b9);
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 auto;
}

.logo{
    display: flex;
    justify-content: center;
    top: 70px;
    flex-shrink: 3;
}

.logo__place{
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
}

.center{
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 10px;
    padding: 40px 40px;
    align-items: center;
    flex-shrink: 1;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #adadad;
}



.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

from .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s; 
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    text-align: center;
}

.pass:hover{
    text-decoration: underline;
    color: #2691d9;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button__enter{
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    order: 1;
}

.button__exit{
    width: 50%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666; 
    align-items: center;
}

.signup_link a{
    color:#2691d9;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}